<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gameloop.Vdf" version="0.5.0" targetFramework="net45" />
  <package id="Indieteur.SteamAppsManAndVDFAPI" version="1.0.2" targetFramework="net45" />
  <package id="SevenZip" version="19.0.0" targetFramework="net45" />
  <package id="SevenZip.SDK" version="1.0.0" targetFramework="net45" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net45" />
</packages>